<html lang="en" ng-app="reporterApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reporter</title>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Angular JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <!-- Bootstrap resources -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- App JS -->
    <script src="app.js"></script>
</head>

<body ng-controller="reporterController">

<!-- Begin page content -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Reporter</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <br><br><br><br>

        <div id="report" class="col-md-6 col-md-offset-3">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="customer" class="col-sm-2 control-label">Customer</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="customer" ng-model="customer">
                            <option value="pfizerus">Pfizer US</option>
                            <option value="sunovionus">Sunovion US</option>
                            <option value="bmsus">BMS US</option>
                            <option value="msduk">MSD UK</option>
                            <option value="lillyja">Lilly JA</option>
                            <option value="gskja">GSK JA</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="environment" class="col-sm-2 control-label">Environment</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="environment" ng-model="environment">
                            <option value="uat">UAT</option>
                            <option value="prod">PROD</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button id="genReportBtn" ng-click="generateReport()" class="btn btn-primary">Generate</button>
                    </div>
                </div>

                <div ng-hide="status == null" class="alert alert-info" role="alert">
                    {{status}}
                </div>

            </div>
            <div ng-hide="newFile == null" class="alert alert-success" role="alert">
                Successfully generated {{newFile.name}}.
                <a href="./file?download={{newFile.name}}">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </a>
            </div>
            <div ng-hide="error == null" class="alert alert-error" role="alert">
                {{error}}
            </div>

        </div>


        <br><br><br>
        <div id="fileList" class="col-md-6 col-md-offset-3">
            <h4>Existing Reports</h4>
            <div ng-repeat="file in filelist">
                {{file.name}}
                <a href="./file?download={{file.name}}">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </a>
                <a href="#" ng-click="deleteFile(file.name)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </div>
        </div>


    </div>

</div><!-- /.container -->

</body>

</html>